{% extends 'layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block menuTitle %}{{ 'header.menu'|trans }}{% endblock menuTitle %}

{% block menuContent %}
<li class="nav-item active"><a class="nav-link" href="{{ path('sw_user_list') }}">{{ 'header.list'|trans }}</a></li>
<li class="nav-item"><a class="nav-link" href="#">user B</a></li>
<li class="nav-item"><a class="nav-link" href="#">user C</a></li>
{% endblock menuContent %}
