<h3>Your Registration!</h3>

<p>Hi {{ name }}! You registered successfully.</p>

{# example, assuming you have a route named "login" #}
<p>To complete your profile, please go to: <a href="{{ url('sw_user_registration', {'token': token }) }}">Complete Registration</a></p>

<p>Thanks! Your BundleDev Team</p>
