<h3>Your password reset!</h3>

Hi {{ name }}! Your requested to reset your password.

{# example, assuming you have a route named "login" #}
To reset, go to: <a href="{{ url('sw_user_login') }}">...</a>.

Thanks!
