<h3>Your password request!</h3>

<p>Hi {{ name }}! You requested to reset your password.</p>

{# example, assuming you have a route named "login" #}
<p>To reset your password, please go to: <a href="{{ url('sw_user_reset', {'token': token }) }}">Reset Password</a></p>

<p>Thanks! Your BundleDev Team</p>
