{% extends '@StewieUser/default/layout.html.twig' %}
{% trans_default_domain 'SWUserBundle' %}

{% block main %}
<br>
<div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="container-fluid">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'header.reset.unknown'|trans }}</h1>

        <div class="row justify-content-md-center">
          {{ 'message.reset.unknown'|trans({'%token%': token}) }}
        </div>

      </div>
    </div>
</div>
{% endblock main %}
